<!-- text interpolation(only works with string values) -->
<h1>{{title}}</h1>

<!-- Event Binding -->
<button (click)="show()">Show</button>
<br>
<br>
<br>

<!-- Property Binding -->
<input type="text" [value]="output" [disabled]="isDisabled" #enteredValue>
<br>
<button (click)="saveIt(enteredValue.value)">OK</button>
<br>
<p>{{returnValue}}</p>
<br>
<br>

<!-- Two-way Binding -->
<textarea [(ngModel)]="userInput" rows="12" placeholder="Please type here"></textarea>
<br>
<button (click)="save()">Save</button>
<br>
<br>
<p>{{userInput}}</p>
